@import "reset";
html body {
  font-family: Helvetica, Arial;
}

.statistics{
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 15px;
  box-shadow: 10px 10px 10px 13px rgba(0, 0, 0, 0.17);
  h1 {
    margin-bottom: 15px;
    font-size: 30px;
  }
  p {
    margin-bottom: 5px;
    font-weight: bold;
    span {
      font-weight: 200;
    }
  }
}
