@import "reset";

html body {
  font-family: Helvetica, Arial;
}

strong {
  font-weight: bold;
}

.settings {

}

.resetButton {
  padding: 10px 20px;
  background-color: rgba(255, 73, 85, 0.69);
  color: white;
  border: none;
  border-radius: 5px;
  display: block;
  margin-top: 10px;
  font-size: 1rem;

  cursor: pointer;
}

.settings .setting {
  span {
    font-weight: bold;
  }
}

.statistics, .settings {
  position: fixed;
  top: 10px;
  &.statistics{
    right: 10px;
  }
  &.settings {
    left: 10px;
  }
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 15px;
  box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.33);
}

@media (max-width: 600px) {
  .settings, .statistics {
    position: static;
    display: inline-block;
    margin-bottom: 10px;

    label {
      display: block;
    }
  }
  .statistics {
    float: right;
  }
  .settings {
    float: left;
  }

}

h1 {
  margin-bottom: 15px;
  font-size: 30px;
}

.statistics {
  p {
    margin-bottom: 5px;
    font-weight: bold;

    span {
      font-weight: 200;
    }
  }

  div.fps {
    position: absolute;
    right: 5px;
    font-size: 10px;
  }

}
